<script type="text/javascript">
//<![CDATA[
L.require('ui').then(function(ui) {
	L.require('dom').then(function(dom) {
		L.require("uci").then(function(uci) {
			uci.load("netping_luci_relay_adapter_snmp").then(function(out){
				var UIAdapterSNMP = ui.AbstractElement.extend(/** @lends LuCI.ui.Textarea.prototype */ {
					__init__: function(relay_id) {

						this.fields = {},
						this.proto = "SNMP"
						this.config = "netping_luci_relay_adapter_snmp"
						this.adapter_id = relay_id;
						this.needsToSave = false
						this.isActive = false

						var section = this.addSection();

						this.fields = {
							"address": new ui.Textfield(section["address"], { 
								maxlength: 128, 
								datatype: "host" 
							}),

							"oid": new ui.Textfield(section["oid"], { 
								maxlength: 128
							}),

							"port": new ui.Textfield(section["port"], { 
								datatype: "rangelength(2,5)",
								htmlStyle: "width: 150px"
							}),

							"community": new ui.TextFieldStyled(section["community"], { 
								datatype: "rangelength(3,8)",
								htmlStyle: "width: 150px"
							}),

						}
					},

					/** @override */
					render: function() {
						var classActive = (this.isActive) ? ' active' : ''
						var container = E('div', { class: 'table modal-section-param adapter snmp' + classActive}, [
							E('div', {class: 'tr table-titles'}, [
								E('div', {class: 'th', style: 'width: 100%'}, _("Параметры протокола " + this.proto)),
								E('div', {class: 'th', style: "text-align: right;"}, _("Значение")),
							]),
							E('div', {class: 'tr cbi-rowstyle-1'}, [
								E('div', {class: 'td'}, "Адрес реле"),
								E('div', {class: 'td', style: "text-align: right;"}, [
									this.fields['address'].render()
								])
							]),
							E('div', {class: 'tr cbi-rowstyle-2'}, [
								E('div', {class: 'td'}, "OID"),
								E('div', {class: 'td', style: "text-align: right;"}, [
									this.fields['oid'].render()
								])
							]),
							E('div', {class: 'tr cbi-rowstyle-1'}, [
								E('div', {class: 'td'}, "Community"),
								E('div', {class: 'td', style: "text-align: right;"}, [
									this.fields['community'].render()
								])
							]),
							E('div', {class: 'tr cbi-rowstyle-2'}, [
								E('div', {class: 'td'}, "Порт"),
								E('div', {class: 'td', style: "text-align: right;"}, [
									this.fields['port'].render()
								])
							]),
						])
						
						return this.bind(container);
					},


					/** @private */
					bind: function(container) {
						this.node = container
						var self = this

						dom.bindClassInstance(container, this);

						// Cusom override:
						// We subscribe EventBus event which is emitted by "DropdownProto" widget (see ui_override)
						
						window.EventBus.register(this.node, 'bus-proto-changed', [],
							function(ev) {
								if(ev.detail["proto"] == self.proto) {
									container.classList.add("active")
									self.isActive = true
								} else {
									container.classList.remove("active")
									self.isActive = false
									// remove changes user made
									//uci.unload(self.config) // not good idea
									// TODO
									// you should create local cache object in JS to keep and clear temporary values
								}
							}
						);
						
						return container;
					},
					// {
					//	"fieldname": "value"
					// }
					getValue: function() {
						var data = {}
						for (var name in this.fields) {
							data[name] = this.fields[name].getValue() || ''
						}
						return data;
					},

					// if user filled in protocol at first time, then
					// we need to prepare uci section initially
					addSection: function() {
						var sec = uci.get(this.config, this.adapter_id)
						if(sec == null) {
							sec = uci.add(this.config, "snmp", this.adapter_id)	
							sec = uci.get(this.config, this.adapter_id)
						}
						return(sec)
					},

				});

				ui["AdapterSNMP"] = UIAdapterSNMP
			});
		});
	});
});
//]]>
</script>