<script type="text/javascript" src="<%=resource%>/netping/utils/utils.js?v=0.0.1"></script>
<script type="text/javascript" src="<%=resource%>/netping/utils/get_cursor_position.js?v=0.0.1"></script>

<%+netping_luci_relay/ui_widgets/UIEventBus.js%>

<script type="text/javascript">
//<![CDATA[
	var grammaValidator = function(gramma, errormsg) {
		return function(user_input_text) {
			const parser = new nearley.Parser(nearley.Grammar.fromCompiled(gramma));
			try {
				parser.feed(user_input_text)
				return true
			}
			catch (e) {
				return errormsg
			}
		}
	}

/*
	window.addEventListener('DOMContentLoaded',function(e) {
		L.require("ui").then(function(ui){
			console.log("ui")
			window.EventBus = new ui.EventBus()
			var EventBus_widget = window.EventBus.render()
		})
	},true);
*/

//]]>
</script>