<script type="text/javascript">
//<![CDATA[
L.require('ui').then(function(ui) {
	L.require('dom').then(function(dom) {
		var UIAdapterEmpty = ui.AbstractElement.extend(/** @lends LuCI.ui.Textarea.prototype */ {
			__init__: function() {
			},

			/** @override */
			render: function() {
				var container = E('div', { class: 'table modal-section-param adapter empty active'}, [
					E('div', {class: 'tr table-titles'}, [
						E('div', {class: 'th', style: 'width: 100%'}, _("Параметры протокола")),
						E('div', {class: 'th'}, ""),
					]),
					E('div', {class: 'tr cbi-rowstyle-1'}, [
						E('div', {class: 'td'}, "Протокол не выбран."),
						E('div', {class: 'td', style: "text-align: right;"}, [])
					]),
				])
				
				return this.bind(container);
			},


			/** @private */
			bind: function(container) {
				this.node = container
				var self = this

				dom.bindClassInstance(container, this);

				// Cusom override:
				// We subscribe EventBus event which is emitted by "DropdownProto" widget (see ui_override)
				window.EventBus.register(this.node, 'bus-proto-changed', [],
					function(ev) {
						var protoSelected = (ev.detail["proto"] != '0' && ev.detail["proto"] != undefined && ev.detail["proto"] != null && ev.detail["proto"] != "") 
						if(!protoSelected) {
							container.classList.add("active")

						} else {
							container.classList.remove("active")
						}
					}
				);
	
				return container;
			},

		});

		ui["AdapterEmpty"] = UIAdapterEmpty;
	});
});
//]]>
</script>