<!-- Generated list of JS-file included to the main page -->
<!-- These files are form-field validators, built with Nearley.js method:
	https://netping.atlassian.net/wiki/spaces/PROJ/pages/2809857522/html-
-->
<%
local fl = require 'luci.model.netping.functions.filelist'
local vlist = fl({ path = '/www/' .. resource .. '/netping/nearley/gramma/', grep = '.js$' })

for i=1, #vlist do %>
	<script type="text/javascript" src="<%=resource%>/netping/nearley/gramma/<%=vlist[i] %>"></script>
<% end %>


