
var conditionNotes = new ui.NotesBannerCond("<h4>Условия отправки:</h4><pre><span class='parenthesis'>(</span>%_serverid::timeout_%<span class='comparision'>></span>900<span class='logic'>OR</span>%_relayid::timeout_% <span class='comparision'>></span>600<span class='parenthesis'>)</span><br><span class='logic'>AND</span>%_serverid::error_%<span class='comparision'>=</span>1</pre>", { show: true })
var conditionNotes_widget = conditionNotes.render()

var conditions = {
	defaultLogics: {
		and: "AND",
		or: "OR"
	},

	logics: ["or"],
	records: [
		{ obj: "Цель#1", param: "AND", operator: "Цель#2", val: 900 },
		{ obj: "Цель#3", param: "OR", operator: "Цель#4", val: 60 },
	],
	dropDownData: function(key) {
		var out = {}
		this.records.forEach(function(item, i, arr) {
			out[item[key]] = item[key]
		})
		return out;
	}
}

var cond_object = new ui.Dropdown(0, conditions.dropDownData("obj"), { optional: false, disabled: false });
var cond_param = new ui.Dropdown(0, conditions.dropDownData("param"), { optional: false, disabled: false });
var cond_operator = new ui.Dropdown(0, conditions.dropDownData("operator"), { optional: false, disabled: false });
var cond_val = new ui.Textfield("900", { optional: false, disabled: false });

var cond_logic = new ui.Dropdown(0, conditions.defaultLogics, { optional: false, disabled: false });
var cond_object2 = new ui.Dropdown(0, conditions.dropDownData("obj"), { optional: false, disabled: false });
var cond_param2 = new ui.Dropdown(0, conditions.dropDownData("param"), { optional: false, disabled: false });
var cond_operator2 = new ui.Dropdown(0, conditions.dropDownData("operator"), { optional: false, disabled: false });
var cond_val2 = new ui.Textfield("60", { optional: false, disabled: false });

var cond_logic2 = new ui.Dropdown(0, conditions.defaultLogics, { optional: false, disabled: false });
var cond_object3 = new ui.Dropdown(0, conditions.dropDownData("obj"), { optional: false, disabled: false });
var cond_param3 = new ui.Dropdown(0, conditions.dropDownData("param"), { optional: false, disabled: false });
var cond_operator3 = new ui.Dropdown(0, conditions.dropDownData("operator"), { optional: false, disabled: false });
var cond_val3 = new ui.Textfield("15", { optional: false, disabled: false });

var left_parenthesis = new ui.Checkbox("1", {label: "("})
var left_parenthesis_disabled = new ui.Checkbox("0", {label: "(", disabled: true})
var right_parenthesis = new ui.Checkbox("1", {label: ")"})
var right_parenthesis_disabled = new ui.Checkbox("0", {label: ")", disabled: true})

left_parenthesis.render = right_parenthesis.render = right_parenthesis_disabled.render = left_parenthesis_disabled.render = function() {
	var id = 'cb%08x'.format(Math.random() * 0xffffffff);
	var frameEl = E('div', {
		'id': this.options.id,
		'class': 'cbi-checkbox'
	});

	if (this.options.hiddenname)
		frameEl.appendChild(E('input', {
			'type': 'hidden',
			'name': this.options.hiddenname,
			'value': 1
		}));

	frameEl.appendChild(E('input', {
		'id': id,
		'name': this.options.name,
		'type': 'checkbox',
		'value': this.options.value_enabled,
		'checked': (this.value == this.options.value_enabled) ? '' : null,
		'disabled': this.options.disabled ? '' : null,
		'data-widget-id': this.options.id ? 'widget.' + this.options.id : null,
		'style': "margin-top: 5px;"
	}));

	var cssStyle = this.options.label == ")" ? "font-size: 1.5em; float: left; margin-right: 0.3em;" : "margin-left: 0em; font-size: 1.5em;"
	if (this.options.disabled) cssStyle += " color: #cecece;"
	frameEl.appendChild(E('label', { 'for': id, style: cssStyle }, this.options.label));

	return this.bind(frameEl);
}