<script type="text/javascript">
//<![CDATA[

function auto_refresh(config, section, option) {
	// TODO 
	// make JSON-RPC UBUS CALL
	// ubus call netping_relay status
	
	/* this will remove soon:
	
	L.require("session").then(function(session) {
		console.log(session.getToken())
		L.require("uci").then(function(uci) {
			return uci.changes().then(L.bind(function(a){
				console.log(a)	
			}));
		})
	})
	*/
	
}

window.addEventListener('DOMContentLoaded',function(e) {
		// TODO
		// run autorefresh
		// auto_refresh('netping_luci_relay', 'cfg062442', 'state')
		
		
		
	},true);
//]]>
</script>

