<script type="text/javascript">
//<![CDATA[
	window.addEventListener('DOMContentLoaded',function(e) {
		console.log("DOM LOADED")
		
		const proto = "ws://"
		const host = window.location.host
		const port = 8082
		const websocket_name = 'updating_relay_state'

		var socketDi = new WebSocket(proto + host + ":" + port, websocket_name)
	    try {
	    	socketDi.onopen = function () {
		        console.log("SOCKET OPENED")
		    }
			socketDi.onmessage = (msgEvent) => {
				var msg = ""
				var payload = {}
				var config = 'netping_luci_relay'

				msg = msgEvent.data
				msg = msg.replaceAll(config + ".", "")
				payload = $.parseJSON(msg)
				for (var prop in payload) {
					var el = document.querySelector("." + prop);
					if (el) {
						if(payload[prop] > 0 ) {
							el.innerHTML = "Включено ON"
						}
						else {
							el.innerHTML = "Выключено OFF"
						}
					}
				}
				if(parseInt(msg) == NaN) {
					console.log(msg)
				}
			}
	    	socketDi.onclose = function () {
	        	console.log("SOCKET CLOSED")
	      	}
	    } catch (exception) {
	    	console.log('Error' + exception)
	    }
	},true);
//]]>
</script>
