<%+netping_luci_relay/ui_util/utils.js%>
<%+netping_luci_relay/ui_util/external.js%>
<%+netping_luci_relay/ui_widget/UIEventBus.js%>
<%+netping_luci_relay/ui_override/TextFieldStyled.js%>
<%+netping_luci_relay/css%>
<%+netping_luci_relay/relay.js%>
<%+netping_luci_relay/m_auto_refresh.js%>
<%+netping_luci_relay/modal_relay%>

<%
	local relay = require "luci.model.netping.relay.main"

	local config = "netping_luci_relay"
	local uci = require "luci.model.uci".cursor()
	local util = require "luci.util"
	

	-- make relays table for html rendering
	local relays = {}
	function withEveryRelay(r)
		if (r[".name"] ~= "relay_prototype") then
			relays[r[".name"]] = r
		end
	end
	uci:foreach(config, "relay", withEveryRelay)


	-- remove from iterating non-relay types
	relays["globals"] = nil
	relays["prototype"] = nil
	local i = 1
%> 
<div id="view">
	<h2 name="content">Управление реле</h2>
	<div class="cbi-map-descr">В данной таблице приведены локальные и удалённые  реле. Вы можете добавить, переименовать, переключить и настроить реле. Локальные реле удалить невозможно, т.к. они встроены в устройство.</div>
	<input type="button" class="cbi-button cbi-button-apply" style="margin-bottom: 1em;"
		onclick="add_relay(this)"
		value="Добавить реле"/>

	<div class="table">
		<div class="tr table-titles">
			<div class="th" style="width: 100%;">Памятка</div>
			<div class="th">Тип</div>
			<div class="th">Состояние</div>
			<div class="th">Статус</div>
			<div class="th center nowrap cbi-section-actions">Управление</div>
		</div>
		<% for k, v in util.kspairs(relays) do %>
			<div class="tr cbi-rowstyle-<%=i%>">
				<div class="td" data-title="Памятка" style="text-align: left;">
					<input type="text"
					onchange="rename_relay(this)"
					name="relay_name"
					value="<%= relay(k):render('name') %>"
					data-relay="<%=k%>"/>
					<script type="text/javascript">L.require('menu-bootstrap')</script>
					<div id="<%=k%>" class="cbi-tooltip error" style="display: none;">▲ Такая памятка уже есть!</div>
				</div>
				<div class="td" data-title="Тип">
					<%= relay(k):render("embedded") %>
				</div>
				<div class="td <%=k%> state" data-title="Состояние" data-relay="<%=k%>">
					<%= relay(k):render("state") %>
				</div>
				<div class="td" data-title="Статус">
					<%= relay(k):render("status") %>
				</div>
				<div class="nowrap cbi-section-actions td">
					<input type="button" class="cbi-button cbi-button-apply" onclick="switch_relay(this)"
						value="Переключить"
						data-relay="<%=k%>" 
						style="display: initial;" />
					<input type="button" class="cbi-button cbi-button-apply" onclick="edit_relay(this)"
						value="Настройки"
						data-action="edit"
						data-relay="<%=k%>" 
						data-proto="<%=v.proto%>" 
						data-embedded="<%=v.embedded%>" 
						style="display: initial;" />
					<input type="button" class="cbi-button cbi-button-apply" onclick=window.location='<%=luci.dispatcher.build_url("admin", "system", "alerts")%>?relayid=<%=k%>'
						value="Уведомления"
						data-relay="<%=k%>" 
						style="display: initial;" />

					<input type="button" class="cbi-button cbi-button-apply"
						disabled
						value="Сторож"
						data-relay="<%=k%>" 
						style="display: initial;" />

					<input type="button" class="cbi-button cbi-button-apply"
						disabled
						value="Расписание"
						data-relay="<%=k%>" 
						style="display: initial;" />

						<% if relay(k):get("embedded") == '0' then %>
					<input type="button" class="cbi-button cbi-button-reset" onclick="delete_relay(this)"
						value="Удалить"
						data-relay="<%=k%>"
						style="display: initial;" />
					<% end %>
				</div>
			</div>
			<% i = (i%2) + 1 %>
		<% end%>
	</div>
</div>
<span id="btn_enable_spinner" class="btn_spinner"></span>
