<%+netping_luci_relay/ui_utils/utils.js%>
<%+netping_luci_relay/ui_utils/external.js%>
<%+netping_luci_relay/css%>
<%
	local widget_id = "widget.table.list.relay"
	-------------------------------------------
	local uci = require "luci.model.uci".cursor()
	local util = require "luci.util"
	local log = require "luci.fad.utils.log"
	local UIbus = require 'luci.fad.classes.uibus'	
	local Widget = require 'luci.fad.classes.widget'	
	local Relay = require 'luci.fad.classes.relay'

	local uibus = UIbus:init({
		'bus-relay-setting-open',
		'bus-relay-switch-state',
		'bus-relay-remove'
	}, Relay)


	local widget = Widget:new(widget_id, Relay)
	local columns = widget:get_columns()
	local rows = widget:get_rows()
	
	--log("rows:::", rows)

%> 
<%= uibus:load() %>
<div id="view" data-showin="widget.table.list.relay">
	<h2 name="content">Управление реле</h2>
	<div class="cbi-map-descr">В данной таблице приведены локальные и удалённые  реле. Вы можете добавить, переименовать, переключить и настроить реле. Локальные реле удалить невозможно, т.к. они встроены в устройство.</div>
	<input type="button" class="cbi-button cbi-button-apply" style="margin-bottom: 1em;"
		onclick="add_relay(this)"
		value="Добавить реле"/>

	<div class="table">
		<div class="tr table-titles">
			<div class="th" style="width: 100%;"><%=columns[1]["label"] %></div>
			<% for i=2, #columns do %>
				<div class="th"><%=columns[i]["label"] %></div>
			<% end %>
			<div class="th center nowrap cbi-section-actions">Управление</div>
		</div>

		<% local i = 1 %>
		<% local embedded = '0' %>
		<% for r=1, #rows do %>
			<div class="tr cbi-rowstyle-<%=i%>">
				<% for id,vars in util.kspairs(rows[r]) do %>
					
					<% for v=1, #vars do %>
						<% if (vars[v].name == "embedded") then 
							embedded = vars[v].value 
						   end 
						%>
						<div class="td" data-title="<%=columns[v].label %>" style="text-align: left;">
							<%=vars[v]:render(widget_id) %>
						</div>
					<% end %>

					<!-- ACTIONS: TODO has to be rewritten later -->
					<div class="nowrap cbi-section-actions td">
						<input type="button" class="cbi-button cbi-button-apply" onclick="window.EventBus.switchRelay('<%=id%>')" 
							value="Переключить"
							data-relay="<%=id%>" 
							style="display: initial;" />
						

						<input type="button" class="cbi-button cbi-button-apply" onclick="edit_relay(this)"
							value="Настройки"
							data-action="edit"
							data-relay="<%=id%>" 
							data-embedded="<%=embedded %>" 
							style="display: initial;" />
						<input type="button" class="cbi-button cbi-button-apply" onclick=window.location='<%=luci.dispatcher.build_url("admin", "system", "alerts")%>?relayid=<%=id%>'
							value="Уведомления"
							data-relay="<%=id%>" 
							style="display: initial;" />

						<% if embedded == '0' then %>
							<input type="button" class="cbi-button cbi-button-reset" onclick="delete_relay(this)"
								value="Удалить"
								data-relay="<%=id%>" 
								style="display: initial;" />
						<% end %>
						
					</div>
					

				<% end %>
				
				
			</div>

		<% i = (i%2) + 1 %>
		<% end %>
		
	</div>
</div>
