<script src="/luci-static/resources/netping/jquery/jquery-3.5.1.min.js" 
		type="text/javascript" 
		charset="utf-8"></script>

<script src="/luci-static/resources/netping/jquery/jquery.highlight-within-textarea.js" 
		type="text/javascript" 
		charset="utf-8"></script>

<script src="<%=resource%>/netping/datepicker/datepicker.min.js?v=0.0.1"
		type="text/javascript" 
		charset="utf-8"></script>

<script src="<%=resource%>/netping/nearley/nearley.js"
		type="text/javascript" 
		charset="utf-8"></script>
