<script type="text/javascript">
//<![CDATA[
L.require('ui').then(function(ui) {
	L.require("session").then(function(session){
		L.require('dom').then(function(dom) {
			var UINotesBannerCond = ui.AbstractElement.extend(/** @lends LuCI.ui.Textarea.prototype */ {
				__init__: function(value, options) {
					this.value = value;
					this.options = Object.assign({
						"genitive_months": [" ", "января", "февраля", "марта", "апреля", "мая", "июня", "июля", "августа", "сентября", "октября", "ноября", "декабря"]
					}, options);
				},

				/** @override */
				render: function() {
					var divEl = E('div', {
						class: 'rs-result-message'
					});

					return this.bind(divEl);
				},

				/** @private */
				bind: function(divEl) {
					this.node = divEl;

					dom.bindClassInstance(divEl, this);
					this.setValue(this.value)
					if (!this.options.show)
						this.hide()

					return divEl;
				},

				/** @override */
				getValue: function() {
					return this.node.innerHTML;
				},

				/** @override */
				setValue: function(value) {
					this.node.innerHTML = value;
				},

				/** @override */
				show: function() {
					this.node.style.display = "";
				},

				hide: function() {
					this.node.style.display = "none";
				},

				formatTime: function (hours) {
						var minutes = "000000" + (hours - Math.floor(hours)) * 60
					return Math.floor(hours) + ":" + minutes.substr(minutes.length-2);
				}
			});
			ui["NotesBannerCond"] = UINotesBannerCond;
		});
	});
});
//]]>
</script>